@import url("fonts/style.css");


@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

/* FONT FAMILIES */
/*'Segoe UI Regular';
'Segoe UI Italic';
'Segoe UI Bold';
 'Segoe UI Bold Italic';
  */


body{
    margin:0px;
}

.navbar{
top: 0px;
left: 0px;
width: 100%;
height: 80px;
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 1px 1px 2px #00000005;
opacity: 1;
position: relative;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: 12px;
}


.logo-box{
    width:10%;
    float:left;
}

.logo{
margin: 29px  50px;
width: 55px;
height: 23px;
float:left;
position: relative;
}

.elements{
    margin-right:0px;
    height: 70px;
    float:right;
    list-style: none;
    position: relative;
    padding:7px;
}

.element{
    float:left;
    margin:10px 15px;
    position: relative;
    padding:auto 20px;

}
.element-cover{
    float: right;
    list-style: none;

}

.user-icon{
    width:40px;
    height:40px;
    margin-top:-8px;
}

.notification-green{
width: 13px;
height: 13px;
background: #00D154;
border-radius: 14px;
opacity: 1;
position:relative;
margin-left:15px;
float: right;
margin-top:3px;
}


.welcome{
    width:100%;
    display: flex;
    margin:70px 0px 0px 0px;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
}

.banner-text{
    order:1;
    margin: 4% 1% 4% 10%;

}
.banner-text h1{
    font-family: Segoe UI Bold;
    font-size:45px !important ;
}
.banner-text p{
    color: #656565;
    font-size: 20px;
    font-family: Segoe UI Regular;
}

.banner-image{
    order:2;
    /* width:70%; */
}
.banner-image img{
max-height:100%;
max-width:100%;
margin:0px;
}

.plan-card-outer{
    height:350px;
    width:90%;
    border-radius:30px;
    background: blue;
    margin-top: -30px;
    position: relative;
    padding: 10px;
    color:white;
}

.plan-card-inner{
    height:300px;
    width:90%;
    border-radius:30px;
    /* background: blue; */
    margin-top: 0px;
    position: relative;
    padding: 10px;
    color:white;
}


.packages{
    background: #F5F5F5 0% 0% no-repeat padding-box;
    position: relative;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: 12px;
width:100%;
padding-bottom:10px;
}

.table-section{
 font-family: 'Segoe UI Regular', Tahoma, Geneva, Verdana, sans-serif;
display: flex;
flex-direction: row;
align-content: center;
justify-content: space-evenly;
margin:0px 10%;
background:white;
 min-height:700px;
 margin-bottom:50px; 
border-radius: 40px;
top:-35px;
position:relative;
flex-wrap: wrap;
padding-bottom:50px;

}

.arrow-button{
    display: none;
}
.plan{
order:1;
width:28%;
font-size: 16px;


}

.bronze{
order:2;
width:24%;
font-size: 16px;

}

.silver{
order:3;
width:24%;
font-size: 16px;

}

.gold{
order:4;
width:24%;
font-size: 16px;


}

.cat-body img{
    margin-top:10px;
}

.cat-body h2{
    margin-left:10px;
    color: #656565;
}
.plan-card{
    border-radius: 10px;
    width:100%;
        margin-bottom: 70px;
    text-align:left;
    height:262px;
    position: relative;

}

.plan-card h2{
    bottom: 0px;
    position: absolute;
    left:30px;
}

.list-item{
    list-style:none;
}
.bronze-card{
    border-radius: 70px;
    width:100%;
margin-bottom: 42px;
    text-align:center;

}
.silver-card{
position: relative;
top:-21px;
background:#0090E8;
border-radius: 10px;
width:90%;
text-align:center;
color:white;
padding: 10px;
height:293px;

}

.card h2{
    font-size:40px;
    font-family: 'Segoe UI Bold', Tahoma, Geneva, Verdana, sans-serif;
}
.silver-card h2{
    color:white !important;
}

.bronze-card h2, .gold-card h2{
    color:black !important;
}

.bronze-card p, .gold-card p{
    color:#242424 !important;
    font-size: 12px;
}

.silver-card p{
    color:white;
    font-size: 12px;

}

.gold-card{
    border-radius: 10px;
width:100%;
margin-bottom: 42px;

text-align:center;

}

.card button{
    width:80%;
    height:45px;
    border-radius: 45px;
    border:none;
    font-family: 'Roboto', sans-serif;
    background:#FF6700;
    color:white;
    position: relative;
    bottom:0px;
    margin-top: 50px;
}



.card h1{
    font-family: 'Segoe UI Bold', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;

}

.card h2{

    font-size: 35px;
    color: #656565;
    margin-bottom:0px;

}

.silver-card button{
    background:white;
    color: #FF6700;
}


.list-item li{
    height:60px;
    line-height: 60px;
    text-align: center;
    

}

.list-item li:nth-child(odd){
    background:#FBFBFB;
}
 .plan-body li{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-left:5px;
    text-align:left;
    padding:0 20px;

}

.gold-body li{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-right: 5px;

}




ul.list-item{
    padding:0px;
}

.banner-text h1{
    font-size:40px;
}


.footer{
    position: relative;
    bottom:0px;
    height:auto;
    max-width:100%;
    background:#242424 ;
    color:white;
    padding-left:50px;
    line-height: 150px;
    font-family: 'Roboto', sans-serif;
    overflow:hidden;

}
.logo-footer{
    margin: 50px  50px;
    width: 80px;
    height: 40px;
    float:left;
    position: relative;
    }

    footer >.others{
        /* margin-left: 5%; */
        height:100%;
        margin-right: 20px;
        margin-top:0px;
        float:right;
        margin-right:10%;


    }
    

.others ul{
    display: block;
    font-family: 'Roboto', sans-serif;
    float: left;
    margin:0px;
    margin-right: 30px;

}
    .others li{
        list-style: none;
        display: inline;
        padding-right:15px;
    }

    footer> .others .social-media{
        /* float:left;
        position: relative;
        height:20px; */
        display: block;
        float:right;
        

    }
    .social-media{
        display: block;
        float:left;
    }
    .social-media i{
        padding:10px;
    }
    .bronze-body .list-item li{
        color:#00d154 !important;
    }
    .silver-body .list-item li{
        color:#0090E8 !important;
    }
    .gold-body .list-item li{
        color:#7A00D1 !important;
    }



    .list-item li{
        line-height: 50px;

    }    

    .card h2{
        font-size:40px;
    }

    .bronze-body-mobile, .silver-body-mobile, .gold-body-mobile{
        margin-bottom: 50px;
        display: none;
    }

    ul.site-map a, ul.site-map-mobile a{
        text-decoration: none;
        color: white;
    }
    ul.site-map a:hover, ul.site-map-mobile a:hover{
        text-decoration: underline;
    }

    ul.site-map-mobile{
        display: none;
    }


    @media screen and (max-width: 490px) {
            .card h2{
                font-size: 49px;
            }
        .element{
            /*for navbar items*/
            margin:5px;
        }

        ul.site-map-mobile{
            display: block;
            font-size: 10px;
            padding:0px 10px;
            margin:0px;
            line-height: 20px;
        }
        ul.site-map{
            display: none;
        }
            .footer{
                padding-left:0px;
            }
            .footer .others{
                margin-right:0px !important;
            }
        .social-media{
            float: none !important;
            margin:1px 10%;
        }
        .social-media i{
            padding:0px  8%;
        }
.logo-footer{
    margin:50px 50% auto 40%;
}
        ul.site-map{
            display: none;
        }
        .banner-text{
            margin-left:0px;
            text-align: center;
        }
        .logo{
            margin-left: 15px;
        }
        .welcome{
            flex-direction:column;
                width:100%;
                margin:10px 0px 0px 0px;            
        }
        .plan{
            display: none;
        }
        .table-section{
            flex-direction: column;
            margin: 0 5%;
        }

        .silver-card{
            left:-5px;
            width: 97%;
        }
        .bronze, .silver,  .gold{
                width:99%;
        }

        .bronze-body, .silver-body, .gold-body{
            display: none;
        }
        .elements{
            padding:7px 4px;
        }

        .card{
            height:350px;
            margin-bottom: 20px;
            position: relative;
        }

        .arrow-button{
            display: block;
            bottom: 20px;
            text-align: center;
            /* align-items: center; */
            position: absolute;
            left: 48%;
        }
        
.cat-body li{
    border-radius: 30px;
    padding:0px 15px;
}

        
}


.arrow-active{
    transform: matrix(-1, 0, 0, -1, 0, 0);
}
  

.left{
    float:left;
}

.right{
    float:right;
}
.arrow-up{
    transform: matrix(-1, 0, 0, -1, 0, 0);
}

